/* Styles for the body */
body {
  align-items: center;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  background-color: #333333;
  color: #fff;
  padding: 20px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #222;
}

.card {
  margin-bottom: 20px;
  border: none;
}

.card-body {
  padding: 20px;
  border-radius: 10px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

ul {
  margin-bottom: 0;
}

ul li {
  list-style-type: none;
}

ul li:before {
  content: '\2022';
  color: #ff4081;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.job-experience h4,
.education h4,
.strengths h4 {
  margin-top: 0;
  color: #ff4081;
}

.job-experience h5,
.education h5 {
  color: #999;
  margin-bottom: 10px;
}

.projects a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 5px;
}

.projects a:hover {
  text-decoration: underline;
}

.text-gray {
  color: #999;
}

.text-white {
  color: #fff;
}
