<!-- index.html -->
{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Left section (profile picture and caption) -->
                <div class="profile-section">
                    <!-- Add your profile picture and caption here -->
                </div>
            </div>
            <div class="col-md-6">
                <!-- Right section (about) -->
                <div class="about-section">
                    <!-- Add your about content here -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
