<!-- index.html -->
{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- Left section (profile picture and caption) -->
            <div class="profile-section">
                <!-- Add your profile picture and caption here -->
                <img class= "profile-pic" src="../media/prof.png" alt="Robert Freeman">
            </div>
        </div>
        <div class="col-md-6">
            <!-- Right section (about) -->
            <div class="about-section">
                <h2>About Me</h2>
                <p><!-- Add your about content here --></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}